#banc{
  display: inline-block;
  vertical-align: top;
  width: 10%;
}

#compo{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 600px;
  background-image: url("http://static.footeo.com/uploads/astagnon/Medias/TERRAIN_DE_FOOT.gif?_ga=2.126975053.1777273737.1543316760-107477225.1543316760");
  background-size: 400px 600px;
}

.boxBanc{
  width: 130px;
  background: grey;
  display: inline-block;
  border-radius: 10px;
  height: 200px;
  overflow: auto;
}

.boxPosition{
  padding: 5px;
  width: 53px;
  height: 35px;
  background: white;
  border-radius: 10px;
  display: inline-block;
}

.draggableElement{
  height: 50px;
  border-radius: 50px;
  margin: 5px;
}

.box_position_1{
  position: absolute;
  top: 90px;
  left: 327px;
}

.box_position_2{
  position: absolute;
  top: 170px;
  left: 200px;

}

.box_position_3{
  position: absolute;
  top: 170px;
  left: 450px;
}

.box_position_4{
  position: absolute;
  top: 250px;
  left: 327px;
}

.profileAvatar{
  width: 30px;
}




/*---------------*/


body {
    background: lightgrey;
}

.fill {
    background-image: url('http://source.unsplash.com/random/150x150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}


.empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px salmon solid;
    background-color: white;
}

.fill2 {
    background-image: url('http://source.unsplash.com/random/150x150');
    background-size: 75px 75px;
    position: relative;
    height: 75px;
    width: 75px;
    top: 5px;
    left: 5px;
    cursor: pointer;
    border-radius: 50px;
}


.empty2 {
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 10px;
    border: 3px salmon solid;
    background-color: white;
    position: absolute;
    border-radius: 50px;
}



.hold {
    border: solid #ccc 4px;
}

.hovered {
    background: #f4f4f4;
    border-style: dashed;
}

.invisible {
    display: none;
}

#box1{
  top: 1050px;
  left: 154px;
}

#box2{
  top: 1300px;
  left: 104px;
}

#box3{
  top: 1300px;
  left: 204px;
}

#box4{
  top: 1125px;
  left: 54px;
}

#box5{
  top: 1125px;
  left: 254px;
}
