body{
  background-color:white;
}

h1, h3{
  color:black;
}

div{
}

.button{
  height:50px;
  weight:300px;
}

.text_area{
  width: 100px;
  height: 2px;
}

.member_list{
  text-align: center;
  width: 50%;
  margin-left:auto;
  margin-right: auto;
  color: black;
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
}

table{
  margin-left:auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 600px;
}

td{
  width: 120px;
  text-align: center;
  color:black;
  padding: 5px;
  border: 1px solid black;
  margin: 0px;
}

th{
  width: 600px;
}

.present_members:hover, .available_members:hover, .rsvp_members:hover, .not_selected_members:hover,
.absent_members:hover, .unavailable_members:hover, .waiting_list_members:hover, .played_members:hover,
.not_played_members:hover,
.participant:hover{
  background-color: #dddddd;
}

.present_members, .available_members, .rsvp_members, .not_selected_members, .absent_members, .unavailable_members,
.waiting_list_members, .played_members, .not_played_members, .participant_members{
  background-color: #ececec;
  transition-duration: 0.2s;
}

.title_present_members, .title_available_members, .title_waiting_list_members, .title_played_members,
.title_participant_members {
  cursor: pointer;
  background-color: lightgreen;
  height: 35px;
  transition-duration: 0.2s;
}

.title_present_members:hover, .title_available_members:hover, .title_waiting_list_members:hover,
.title_played_members:hover, .title_participant_members:hover{
  background-color: green;
}

.title_rsvp_members{
  cursor: pointer;
  background-color: lemonchiffon;
  height: 35px;
  transition-duration: 0.2s;
}

.title_rsvp_members:hover{
  background-color: yellow;
}

.title_absent_members, .title_not_selected_members, .title_unavailable_members, .title_not_played_members{
  cursor: pointer;
  background-color: darksalmon;
  height: 35px;
  transition-duration: 0.2s;
}

.title_absent_members:hover, .title_not_selected_members:hover, .title_unavailable_members:hover,
.title_not_played_members:hover{
  background-color: red;
}

#body_present_members, #body_absent_members, #body_rsvp_members, #body_not_selected_members, #body_waiting_list_members,
#body_available_members, #body_unavailable_members, #body_not_played_members, #body_played_members,
#body_participant_members{
  display: table-row-group;
}


.header_members{
  background-color: darkgrey;
  border: 1px solid black;
}

.logo_presence{
  height: 18px;
  padding: 2px;
  cursor: pointer;
}



/*Test transformation tableau en liste*/

ul{
  list-style: none outside none;
}

li{
  float: left;
  display: block;
  width: 100px;
  height: 40px;
}




