@font-face
{
font-family: LatoBlack;
src: url('Lato-Black.ttf'),
url('Lato-Black.ttf');
}

@font-face
{
font-family: LatoLight;
src: url('Lato-Light.ttf'),
url('Lato-Light.ttf');
}

body{
  background-color:white;
  font-family: LatoLight;
}

h1, h3{
  color:black;
}

div{
}

#global_content{
  text-align: center;
  width: 50%;
  margin-left:auto;
  margin-right: auto;
  color: black;
  border: 1px solid black;
  padding: 20px 20px 20px 20px;
}

#member_list{
  margin-left:auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 2px solid #243e68;
  width: 100%;
}

@media screen and (max-width: 560px) {
  #global_content {
    width: 90%;
  }
}

.compo{
  width: 100%;
  padding: 5px;
}

.present_members:hover, .available_members:hover, .rsvp_members:hover, .not_selected_members:hover,
.absent_members:hover, .unavailable_members:hover, .waiting_list_members:hover, .played_members:hover,
.not_played_members:hover,
.participant:hover{
  background-color: #dddddd;
}

.present_members, .available_members, .rsvp_members, .not_selected_members, .absent_members, .unavailable_members,
.waiting_list_members, .played_members, .not_played_members, .participant_members{
  background-color: #ececec;
  transition-duration: 0.2s;
  padding: 5px 0 5px 0;
}

.title_present_members, .title_available_members, .title_waiting_list_members, .title_played_members,
.title_participant_members,
.title_rsvp_members,
.title_absent_members, .title_not_selected_members, .title_unavailable_members, .title_not_played_members{
  cursor: pointer;
  padding: 10px 0;
  transition-duration: 0.2s;
  user-select: none;
  color: #243e68;
  font-family: LatoBlack;
  background: #ececec;
}

#body_present_members, #body_absent_members, #body_rsvp_members, #body_not_selected_members, #body_waiting_list_members,
#body_available_members, #body_unavailable_members, #body_not_played_members, #body_played_members,
#body_participant_members{
  display: block;
  transition-duration: 1s;
  width: 100%;
}

.members_header{
  color: #243e68;
  width: 100%;
  height: 30px;
  margin: 0;
  list-style: none outside none;
  background-color: #ececec;
  user-select: none;
}

#show_logo_group{
  display: inline;
}

ul{
  padding-inline-start: 0;
}

li{
  width: 100%;
  height: 30px;
  margin: 0;
  list-style: none outside none;
  background-color: #ececec;
  user-select: none;
}

li:hover{
  background-color: #dddddd;
}

.li_cell_future{
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  float: left;
  text-align: center;
  width: 30%;
  padding:5px 0 5px 0;
  height: 0;
}

.li_cell_past{
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: inline-block;
  float: left;
  text-align: center;
  width: 15%;
  padding:5px 0 5px 0;
  height: 0;
}

.li_cell_profile{
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  display: table-cell;
  float: left;
  text-align: left;
  width: 35%;
  max-width: 35%;
  padding:5px 0 5px 5px;
  height: 0;
}

.attendance_group{
  height: auto;
}

#notifications_list{
  padding: 10px;
  position : fixed;
  top : 0;
  right : 0;
}

.notification{
  padding:5px;
  margin: 2px;
  width: 200px;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ececec;
}

a{
  color: black;
  text-decoration: none;
}

/* Chores */

.icon_task{
  width: 20px;
  height: 20px;
}

.chore_name{
  position: relative;
  color: white;
  top: -28px;
  background-color: #243e68;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  font-size: 14px;
  display:none;
  opacity: 0.9;
  padding: 5px;
  white-space: normal;
  width: 125%;
}

.icon_task:hover + .chore_name, .chore_name:hover{
  display: block;
}

.icon_delete_chore{
  padding: 0 10px 0 0;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.logo_group{
  top : -28px;
  display: none;
  opacity: 0.9;
  position: relative;
  border-radius: 10px;
  background-color: #243e68;
  border: 1px solid black;
  text-align: center;
}

#show_logo_group:hover + .logo_group, .logo_group:hover{
  display: block;
}

.logo_presence{
  height: 18px;
  padding: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
  transform: scale(0.9);
  opacity: 0.9;
}

.logo_presence:hover{
  transform: scale(1);
  opacity: 1;
}

.profile_name{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 70%;
  display: inline-block;
  position: relative;
  top: -5px;
  padding: 5px;

}

.avatar{
  position: relative;
  top: -5px;
  width: 25px;
  border-radius: 100px;
  border: 1px solid black;
  color: #243e68;
}